/**
 *
 * White theme for reveal.js.
 * By Hakim El Hattab, http://hakim.se
 *
 * Adjusted by Nadieh Bremer
 *
 */

/*********************************************
 * PERSONAL STYLES
 *********************************************/

@import url(../lib/font/quicksand/quicksand.css);
@import url(../lib/font/tinos/tinos.css);
@import url(../lib/font/open-sans/open-sans.css);
@import url(../lib/font/roboto/roboto.css);
/*@import url(../lib/font/dancing-script/dancing-script.css);*/
/*@import url(../lib/font/lato/lato.css);*/
@font-face {
  font-family: "King Basil";
  src: url("../lib/font/king-basil/King-Basil.ttf");
}
/* for the Lotr visual */
@font-face {
  font-family: "Aniron";
  src: url("../lib/font/lotr/Aniron.ttf");
}
@font-face {
  font-family: "Bilbo";
  src: url("../lib/font/lotr/Bilbo.ttf");
}
@font-face {
  font-family: "Elvish";
  src: url("../lib/font/lotr/Elvish.ttf");
}
@font-face {
  font-family: "Dwarfish";
  src: url("../lib/font/lotr/Dwarfish.ttf");
}

/* slow transition of fragments */
.reveal .slides section .fragment.slow {
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

/* fix something in the center of the page */
.reveal .center-fix {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/* for the data | sketch | code main slide */
.reveal .section-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    /*font-weight: 300;*/
    color: #33383b;
    line-height: 100px; 
    height: 150px;
}

/* css for the "lesson" slides */
.reveal .lesson-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 120px;
    color: #33383b;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}
.reveal .lesson-number {
    font-family: 'King Basil', cursive;
    font-size: 45px;
    color: #e0a390;
    margin-bottom: 30px;
}
.reveal .lesson-sub-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: #a6a6a6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    max-width: 60%;
    line-height: 1.3em;
}

.reveal .divider {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
    color: #a6a6a6;
}

.kingBasil {
  font-family: "King Basil", cursive !important;
}
.quicksand {
  font-family: 'Quicksand', sans-serif !important;
}
.tinos {
  font-family: 'Tinos', serif !important;
}
.peach {
  color: #f5c2b1 !important;
}
.dark-pink {
  color: #e0a390 !important;
}
.light-grey {
    color: #a6a6a6 !important;
}
.dark-grey {
  color: #33383b !important;
}

.reveal .slides > section, .reveal .slides > section > section {
  padding-top: 0px;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.60em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 20px;
  overflow: auto;
  max-height: 700px;
  /*max-width: 100%; */
  /*overflow-x: hidden;*/
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  /*margin: 15px 0px;*/
  /*background: rgba(255, 255, 255, 0.12);*/
  /*border: 4px solid #222;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }*/
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2a76dd;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
