slides/slide_N_65/Top2000Poster.ai
slides/slide_N_65/top_2000_poster.svg
slides/slide_N_68/Olympic Feather Shapes.psd
slides/slide_N_69/butterfly-images/bf12.jpg
slides/slide_N_69/butterfly-images/bf1.jpg
slides/slide_N_69/butterfly-images/bf2.jpg
slides/slide_N_69/butterfly-images/bf3.jpg
slides/slide_N_69/butterfly-images/bf4.jpg
slides/slide_N_69/butterfly-images/bf5.jpg
slides/slide_N_69/butterfly-images/bf6.jpg
slides/slide_N_69/butterfly-images/bf7.jpg
slides/slide_N_69/butterfly-images/bf8.jpg
slides/slide_N_69/butterfly-images/bf9.jpg
slides/slide_N_69/butterfly-images/bf10.jpg
slides/slide_N_69/butterfly-images/bf11.jpg
slides/slide_N_69/butterfly_data_explanation.ai
slides/slide_N_69/butterfly-images/whitesulphur.gif
slides/slide_N_69/butterfly-images/forewingTip.gif
slides/slide_N_69/butterfly-images/fritillary.gif
slides/slide_N_69/butterfly-images/longwing.gif
slides/slide_N_69/butterfly-images/monarch.gif
slides/slide_N_69/butterfly-images/swallowtail.gif
slides/slide_N_74/shirley_hamilton.mov
slides/slide_N_75/shirley_ddr.mov
slides/slide_N_78/royalty_wiki_pages.ai
